<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rohan.test">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="BusMan">
            <intent-filter android:label="Login">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Enter Details" />
        <activity
            android:name=".SignupActivity"
            android:label="Registration" />
        <activity
            android:name=".ResetPasswordActivity"
            android:label="Reset Password" />
        <activity android:name=".WithMenuActivity" />
        <activity
            android:name=".Display"
            android:configChanges="orientation"
            android:label="Student&apos;s Info."
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".payment" />
        <activity android:name=".expense"></activity>
    </application>

</manifest>